%h1 Shorten a URL
= simple_form_for(@shorten, html: { class: 'form-horizontal' }) do |f|
  = f.text_field :long_url, placeholder: "Paste your URL here"
  = f.submit "Shorten", class: "btn btn-large btn-primary"
